<?xml version="1.0" encoding="utf-8"?>
<config>
    <sections>
        <google>
            <groups>
                <servergoogleanalytics translate="label">
                    <label>Server side Google analytics universal transactions tracking</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label,comment">
                            <label><![CDATA[Enabled]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Google analytics universal must be configured and enabled for server side tracking to work</comment>
                        </enabled>
                        <method translate="label,comment">
                            <label><![CDATA[Method]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>webgriffe_servergoogleanalytics/system_config_source_method</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </method>
                        <account translate="label,comment">
                            <label><![CDATA[Account for transactions tracking]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If set, this Google analytics account number overrides the one retrieved from the Magento configuration and from the Fooman module when tracking orders.</comment>
                        </account>
                        <track-on-invoice-paid translate="label,comment">
                            <label><![CDATA[Track transaction when an invoice is paid]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>With this option enabled, transactions are tracked when an invoice for the order is marked as 'paid'.</comment>
                        </track-on-invoice-paid>
                        <dry-run translate="label,comment">
                            <label><![CDATA[Dry run mode]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If enabled, the module will do everything as it would to track the transaction, except for the final call to Google.</comment>
                        </dry-run>
                    </fields>
                </servergoogleanalytics>
            </groups>
        </google>
    </sections>
</config>
